// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



center{
  margin-top:200px;
}

ul .btn{
  width:50px;
  margin:15px;
}

#head{
  color:blue;
}

.rap{
  display:flex;
}
.lef{
  margin-left:10px;
}

.container{
  border-top:10px solid green;
  border-left:10px solid red;
}


